<h1>Nuevo Vehículo</h1>

<% if(error){ %>
<p style="color:red;"><%= error %></p>
<% } %>

<form method="POST">
Cliente:<br>
<select name="cliente_id" required>
  <option value="">-- Selecciona --</option>
  <% clientes.forEach(c => { %>
    <option value="<%= c.id %>"><%= c.nombre %></option>
  <% }) %>
</select><br><br>

Marca:<br>
<input name="marca" required><br><br>

Modelo:<br>
<input name="modelo" required><br><br>

Año:<br>
<input name="anio"><br><br>

Placa:<br>
<input name="placa"><br><br>

<button>Guardar</button>
</form>

<a href="/taller/vehiculos">Volver</a>
