<!DOCTYPE html>
<html>
<head>
   <title><%= title || "App" %></title>
</head>

<body>

   <%- include('../partials/navbar') %>

   <main>
      <%- body %>
   </main>

</body>
</html>
